body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  padding: 40px;
}

.container {
  max-width: 600px;
  margin: auto;
  background: rgb(144, 202, 67);
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #fff;
}

input[type='text'],
input[type='password'] {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  margin-top: 10px;
  width: 100%;
  box-sizing: border-box;
}

button {
  padding: 10px;
  font-size: 16px;
  background-color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 10px;
}

button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

.result {
  margin-top: 20px;
  font-size: 18px;
}

.message {
  margin-top: 20px;
  font-weight: bold;
}
.message.error {
  color: red;
}
#logoutBtn {
  background-color: #f50303;
  color: white;
  border: none;
  padding: 8px 36px;
  cursor: pointer;
  border-radius: 4px;
  float: right;
}