body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    padding: 40px;
}
.container {
    max-width: 1000px;
    margin: auto;
    background: rgb(144, 202, 67);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    color: #fff;
}
 label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #fff;
} 
input[type="text"] {
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
}
button {
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer;
}
.result {
    margin-top: 20px;
    font-size: 18px;
    color: green;
}
